# Images are binary
*.png binary
*.gif binary

# Excel data entry templates should have line endings untouched
*.xlsx binary

# Linguist vendoring
static/* linguist-vendored
scripts/* linguist-vendored
